<!DOCTYPE html>
<html>
    <head>
        <title>Todo List APP test</title>
        <script language="javascript">
            function calculate(form)
            {
             form.results.value=eval(form.entry.value);
            }
        </script>
    </head>
    <body bgcolor="teal">
<h1><b>simple calculator using java script code!!!</b></h1>
        <form>
        <br><br>
        Enter a javascript Mathmatical Expression:
        <input type="text" name="entry" value="">
        <input type="button" value="calculate"onclick="calculate(this.form);">
        <br>
        
        The result Of this expression is;
        <input type="text" name="results"onfocus="this.blur();">
        <br>
        </form>
    </body>
</html>
